* {
    margin: 0;
    padding: 0;
   }
   
   body{
    width: 100vw;
    height: 100vh;
    background-repeat:repeat-x;
   }
   
   h1{
    padding: 1.5rem 1rem;
   }
   
   .container{
     margin: 0 25%;
   }
   
   .container > form {
    font-size: 1.5rem;
    display: flex;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
   }
   
   input {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 0.5rem;
    border: .5px solid #333;
    border-radius: 4px;
    box-shadow: rgb(18, 1, 24) 3px 2px;
    font-weight: 500;
    background-color:#fdfdfd;
    font-size: 1.25rem;
    padding: 0.5rem;
    width:280px;
   }
   
   label{
     font-size: 1.25rem;
     color: #fafafa;
   }
   #send{
    background-color: bisque;
    color:#0c0c0c;
    font-weight: 700;
    width: 298px;
    height: 30px;
    padding-top: 0.2rem;
    margin-top: 0.7rem;
   }
   
   #send:active{
    background-color: #5d5675;
   }
   
   #valorEntrada{
   
     max-width:fit-content;
     margin: auto;
     text-align: center;
   }
